// Main section style

.ArticleOne__add-container {
  display: none;

  @include media('>tablet') {
    display: block;
    position: sticky;
    top: $space-xl;
  }
}

// First Article

.ArticleOne {
  padding: $space-l $space-xl;
  font-family: $font-default;
  text-align: center;

  p {
    padding: $space-xs + $space-s;
    line-height: $space-line-height;
  }

  @include media('>tablet') {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible;
    text-align: start;
  }
}

.ArticleOne__text-container {
  @include media('>tablet') {
    padding-right: $space-xl;
  }
}

.ArticleOne__title {
  padding: 0 ($space-xs + $space-s);
  font-weight: bold;
}

// Second Article

.ArticleTwo__title-container {
  width: 100;
  padding: $space-l;
  text-align: center;

  font-weight: bold;
  font-size: x-large;
}

.ArticleTwo__image {
  max-width: 100%;
  display: inline-block;
  height: auto;
  padding: $space-m;
}

.ArticleTwo__image-container {
  text-align: center;

  @include media('>tablet') {
    display: inline;

    float: left;
  }
}

.ArticleTwo {
  padding: $space-l $space-xl;

  font-family: $font-default;

  p {
    padding: $space-xs + $space-s;
    line-height: $space-line-height;
  }

  @include media('>tablet') {
    display: table-cell;
  }
}
