/**
 * Sizes
 * All variables here should be prefixed with "$size-"
 */

$breakpoints: (
  phone: 320px,
  tablet: 819px,
  desktop: 1024px,
);

$size-main-max-width: 1280px;

// Main image height
$size-main-image-height: 400px;

// Navigation height
$size-navigation-height: 55px;

// Close icon size:
$size-close-icon: 30px;

//
$size-footer-height: 273px;
