/**
 * All variables here should be prefixed with "$space-"
 */

/**
 * Base spaces
 */
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
$space-xxl: 128px;

// Text spaces

$space-line-height: 26px;
