/**
 * Colors mapping
 */
/**
 * Fonts names
 * All variables here should be prefixed with "$font-"
 */
/**
 * Sizes
 * All variables here should be prefixed with "$size-"
 */
/**
 * All variables here should be prefixed with "$space-"
 */
/**
 * Base spaces
 */
/**
 * z-index
 */
/*  
  Reset CSS base & and older browsers fallback
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.responsive-image {
  width: 100%;
  object-fit: cover; }

/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
header {
  background-image: url("../assets/header-bg-2x.png");
  background-size: cover;
  overflow: hidden;
  text-align: center;
  padding: 64px 64px 32px 64px; }
  @media (min-width: 820px) {
    header {
      padding: 128px 64px 32px 64px; } }

.Nav-on-scroll {
  background: rgba(0, 0, 0, 0.7); }

.MainImage {
  min-height: 400px; }

.MainNavigation {
  height: 55px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  margin: 0 auto; }
  .MainNavigation label {
    cursor: pointer;
    display: block;
    font: 30px "Open Sans", sans-serif;
    padding: 24px; }
    @media (min-width: 820px) {
      .MainNavigation label {
        display: none; } }
  .MainNavigation ul {
    font-size: x-large;
    font-family: "Open Sans";
    font-weight: bold;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
    text-align: center; }
    .MainNavigation ul a {
      color: #fff;
      text-decoration: none; }
      .MainNavigation ul a:hover {
        text-decoration: underline; }
    .MainNavigation ul > li {
      margin: 1.5em 0; }
    @media (min-width: 820px) {
      .MainNavigation ul {
        opacity: 1;
        font-size: medium;
        font-weight: 400; }
        .MainNavigation ul > li {
          padding: 0 12px;
          display: inline-block; } }

.MainNavigation__checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1; }
  .MainNavigation__checkbox:checked ~ ul {
    margin: 16px;
    max-height: inherit;
    opacity: 1; }
  .MainNavigation__checkbox:checked ~ .MainNavigation__overlay {
    background-image: url("../assets/header-bg-2x.png");
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1; }
  .MainNavigation__checkbox:checked + label .MainNavigation__responsive_icon {
    background: transparent; }
    .MainNavigation__checkbox:checked + label .MainNavigation__responsive_icon:before {
      box-sizing: border-box;
      top: 0;
      transform: rotate(-45deg); }
    .MainNavigation__checkbox:checked + label .MainNavigation__responsive_icon:after {
      box-sizing: border-box;
      bottom: 0;
      transform: rotate(45deg); }
  @media (min-width: 820px) {
    .MainNavigation__checkbox {
      display: none; } }

.MainNavigation__responsive_icon {
  background: #fff;
  border-radius: 4px;
  height: 4px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  float: right;
  max-width: 30px;
  position: relative; }
  .MainNavigation__responsive_icon:before {
    content: '';
    background: #fff;
    border-radius: 4px;
    height: 4px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    top: -10px;
    left: 0;
    position: absolute; }
  .MainNavigation__responsive_icon:after {
    content: '';
    background: #fff;
    border-radius: 4px;
    height: 4px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    bottom: -10px;
    left: 0;
    position: absolute; }
  @media (min-width: 820px) {
    .MainNavigation__responsive_icon {
      display: none; } }

.ArticleOne__add-container {
  display: none; }
  @media (min-width: 820px) {
    .ArticleOne__add-container {
      display: block;
      position: sticky;
      top: 64px; } }

.ArticleOne {
  padding: 32px 64px;
  font-family: "Open Sans";
  text-align: center; }
  .ArticleOne p {
    padding: 12px;
    line-height: 26px; }
  @media (min-width: 820px) {
    .ArticleOne {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      overflow: visible;
      text-align: start; } }

@media (min-width: 820px) {
  .ArticleOne__text-container {
    padding-right: 64px; } }

.ArticleOne__title {
  padding: 0 12px;
  font-weight: bold; }

.ArticleTwo__title-container {
  width: 100;
  padding: 32px;
  text-align: center;
  font-weight: bold;
  font-size: x-large; }

.ArticleTwo__image {
  max-width: 100%;
  display: inline-block;
  height: auto;
  padding: 16px; }

.ArticleTwo__image-container {
  text-align: center; }
  @media (min-width: 820px) {
    .ArticleTwo__image-container {
      display: inline;
      float: left; } }

.ArticleTwo {
  padding: 32px 64px;
  font-family: "Open Sans"; }
  .ArticleTwo p {
    padding: 12px;
    line-height: 26px; }
  @media (min-width: 820px) {
    .ArticleTwo {
      display: table-cell; } }

footer {
  background-image: url(../assets/darthvader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.Footer {
  height: 273px;
  padding: 32px;
  font-size: small;
  font-family: "Helvetica";
  color: #9b9b9b;
  text-align: center; }
  @media (min-width: 820px) {
    .Footer {
      padding: 64px 64px 0 64px; } }

.Footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 820px) {
    .Footer__links {
      padding: 32px; } }

.Footer__links-section {
  text-align: center; }
  .Footer__links-section a {
    padding: 12px;
    display: block;
    color: #9b9b9b; }

.Footer__title {
  display: none;
  padding-right: 40px; }
  @media (min-width: 820px) {
    .Footer__title {
      display: inline; } }

.Footer__socialMedia-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 64px; }
  .Footer__socialMedia-container p {
    display: block;
    line-height: 32px; }
  @media (min-width: 820px) {
    .Footer__socialMedia-container {
      display: block;
      width: auto;
      text-align: center;
      margin-top: 16px; } }

.Footer__socialMedia-icons object {
  padding: 0 8px; }

/*# sourceMappingURL=index.css.map */
