// Footer style

footer {
  background-image: url(../assets/darthvader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Footer {
  height: $size-footer-height;
  padding: $space-l;

  font-size: small;
  font-family: $font-footer;
  color: $grey;
  text-align: center;

  @include media('>tablet') {
    padding: $space-xl $space-xl 0 $space-xl;
  }
}

.Footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media('>tablet') {
    padding: $space-l;
  }
}

.Footer__links-section {
  text-align: center;
  a {
    padding: $space-xs + $space-s;
    display: block;
    color: $grey;
  }
}

.Footer__title {
  display: none;
  padding-right: 40px;

  @include media('>tablet') {
    display: inline;
  }
}

.Footer__socialMedia-container {
  display: flex;
  width: 100%;
  justify-content: space-around;

  margin-top: $space-xl;

  p {
    display: block;
    line-height: $space-l;
  }

  @include media('>tablet') {
    display: block;
    width: auto;
    text-align: center;

    margin-top: $space-m;
  }
}

.Footer__socialMedia-icons {
  object {
    padding: 0 $space-s;
  }
}
