// Header style

/************************************************/
/****************** NAVIGATION ******************/
/************************************************/

header {
  background-image: url('../assets/header-bg-2x.png');
  background-size: cover;

  overflow: hidden;

  text-align: center;
  padding: $space-xl $space-xl $space-l $space-xl;

  @include media('>tablet') {
    padding: $space-xxl $space-xl $space-l $space-xl;
  }
}

.Nav-on-scroll {
  background: $nav-sticky-bg;
}

.MainImage {
  min-height: $size-main-image-height;
}

.MainNavigation {
  height: $size-navigation-height;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: $z-index-nav;
  margin: 0 auto;

  label {
    cursor: pointer;
    display: block;
    font: $size-close-icon $font-default, sans-serif;
    padding: $space-s + $space-m;

    @include media('>tablet') {
      display: none;
    }
  }

  // list
  ul {
    font-size: x-large;
    font-family: $font-default;
    font-weight: bold;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
    text-align: center;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    > li {
      margin: 1.5em 0;
    }

    @include media('>tablet') {
      opacity: 1;
      font-size: medium;
      font-weight: 400;

      > li {
        padding: 0 ($space-xs + $space-s);
        display: inline-block;
      }
    }
  }
}

.MainNavigation__checkbox {
  opacity: 0;
  position: absolute;
  z-index: $z-index-behind;

  // close icon
  &:checked {
    ~ ul {
      margin: $space-m;
      max-height: inherit;
      opacity: 1;
    }

    ~ .MainNavigation__overlay {
      background-image: url('../assets/header-bg-2x.png');
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      z-index: $z-index-behind;
    }

    + label {
      .MainNavigation__responsive_icon {
        background: transparent;

        &:before {
          box-sizing: border-box;
          top: 0;
          transform: rotate(-45deg);
        }

        &:after {
          box-sizing: border-box;
          bottom: 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  @include media('>tablet') {
    display: none;
  }
}

.MainNavigation__responsive_icon {
  background: $white;
  border-radius: $space-xs;
  height: $space-xs;
  transition: all 0.2s ease-in-out;
  width: 100%;

  float: right;
  max-width: $size-close-icon;
  position: relative;

  &:before {
    content: '';
    background: $white;
    border-radius: $space-xs;
    height: $space-xs;
    transition: all 0.2s ease-in-out;
    width: 100%;

    top: -($space-s + $space-xxs);

    left: 0;
    position: absolute;
  }

  &:after {
    content: '';
    background: $white;
    border-radius: $space-xs;
    height: $space-xs;
    transition: all 0.2s ease-in-out;
    width: 100%;

    bottom: -($space-s + $space-xxs);

    left: 0;
    position: absolute;
  }

  @include media('>tablet') {
    display: none;
  }
}
